body
    script(type="text/javascript").
        window.fbAsyncInit = function () {
            FB.init({
                appId: '130160860755701',
                xfbml: true,
                version: 'v2.7'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    include ./header.pug
    include ./intro.pug
    //include ./features.pug
    //include ./contact.pug

    include ./scripts.pug
    script.
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                        (h.hj.q = h.hj.q || []).push(arguments)
                    };
            h._hjSettings = {hjid: 279792, hjsv: 5};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');