header.header
    .container
        .logo.pull-left
            a(href="#")!= "leodsgn."
        ul.menu.social.pull-right
            li.social-item
                a(href="#")
                    i.fa.fa-github
            li.social-item
                a(href="#")
                    i.fa.fa-twitter
            li.social-item
                a(href="#")
                    i.fa.fa-linkedin