nav.navbar.navbar-fixed-top
    .container
        .navbar-header

            a.navbar-brand(href="#")!= "leodsgn."
            .pull-right
                ul.nav.navbar-nav
                    li
                        a(href="../navbar/")!="Default"
                    li
                        a(href="../navbar/")!="Default"
                    li
                        a(href="../navbar/")!="Default"