header.header
    .container
        .logo.pull-left
            a(href="#")!= "leodsgn."
        ul.menu.social.pull-right
            li.social-item
                a(target="_blank" href="https://github.com/leodsgn")
                    i.fa.fa-github
            li.social-item
                a(target="_blank" href="https://twitter.com/leodsgn")
                    i.fa.fa-twitter
            li.social-item
                a(target="_blank" href="https://br.linkedin.com/in/leoribeirodsgn")
                    i.fa.fa-linkedin