section.intro
    .container
        .row
            .col-lg-6.col-lg-offset-3.col-sm-12.text-center.personal-details
                img.personal.personal-photo(src="dist/img/leonardo_ribeiro_leodsgn_photo.png", alt='leonardo_ribeiro_leodsgn_photo')
                h1.personal.introducing Hi, I'm Leonardo Ribeiro
                p.personal.personal-paragraph.
                    An experienced developer with expertise mainly in graphic and UI design, as well,
                    as software user experience development. I already was front-end and back-end developer,
                    using frameworks like Express, Angular, React/Flux (JS), Laravel (PHP), and Java.
        //.row
        //    .col-lg-6.col-lg-offset-3.col-sm-12.text-center
        //        p.
        //            Hello world
