$introSize = 650px
$containerSize = 193px

.intro
  display: block
  height: $introSize
  width: 100%
  background-color: #eeeeee


  .personal-details
    margin-top: 150px

    .personal
      margin-bottom: 20px

    &:nth-child-last(1)
      margin-bottom: 0


    img.personal-photo
      width: 60px

    h2.introducing
      font-size: 18px
      font-weight: 700

    .personal-paragraph
      font-size: 12px
      line-height: 18px
      color: lighten(#000000, 40%)
