- var title = "leodsgn - Leonardo Ribeiro"
- var description = "An experienced developer with expertise mainly in graphic and UI design, as well, as software user experience development. I already was front-end and back-end developer, using frameworks like Express, Angular, React/Flux (JS), Laravel (PHP), and Java."
- var keywords = "frontend, front-end, backend, back-end, developer, desenvolvedor, webdesigner, react, flux, express, angular, angularjs, frameworks, ui, ux"
- var site = "http://leodsgn.com"
- var twitterAuthor = "@leodsgn"
- var image = "dist/img/fb_image_leodsgn.png"